<launch>
    <!-- <include file="$(find demo3)/launch/3dsensor.launch">   
    </include>
    <include file="$(find demo3)/launch/minimal.launch">   
    </include> -->
    <include file="$(find comp2)/launch/include/velocity_smoother.launch.xml"/>

    <node pkg="comp2" name="follower" type="follower.py" output="screen"></node>
    <node pkg="rqt_gui" name="rqt_gui" type="rqt_gui"></node>
    
    <!-- <node pkg="joy" name="joy_node" type="joy_node" output="screen">
    </node> -->
    <!-- <node pkg="smach_viewer" name="sm_viewer", type="smach_viewer.py"></node> -->
</launch>